<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-turbo": "false"}) do |f| %>
  <section
    id="signup"
    class="w-full min-h-screen bg-DesignWhite items-center flex flex-col"
  >
    <header class="header-mob mb-4">
      <%= link_to :unauthenticated_root do %>
        <i class="fa fa-arrow-left link-hover"></i>
      <% end %>
      <h1 class='font-ProximaLight font-medium'>Register</h1>
      <div class="actions">
        <%= f.submit "Next", class:'font-ProximaLight link-hover' %>
      </div>
    </header>
    <p class="text-green-500"><%= notice %></p>
    <p class="text-red-500"><%= alert %></p>
    <div class="w-full flex flex-col ">
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "", placeholder: "Full Name", class:"placeholder:text-slate-400 w-full border-gray-100 " %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"placeholder:text-slate-400 w-full border-gray-100" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class:"placeholder:text-slate-400 w-full border-gray-100" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retype Password", class:"placeholder:text-slate-400 w-full border-gray-100" %>
      </div>
    </div>
  </section>
<% end %>
