<div id="<%= dom_id group %>", class="mx-4 my-2 p-5 rounded-md bg-white flex items-center justify-between">
  <div class="flex space-x-3 items-center text-DesignGray">
  <% if group.icon.attached? %>
   <div class="object-cover h-14 w-14">
    <img src="<%= url_for(group.icon) %>", class="w-full h-full">
    </div>
  <% end %>
  <div class="flex flex-col space-y-2 h-full">
   <p><%= group.name %></p>
    <p class="text-xs"><%= group.created_at.strftime('%d %B %Y') %></p>
   </div>
   
  </div>


   <div class="flex-flex-col space-y-3 items-center">
    <p class="text-center">$ <%= group.total_expenses %></p>
    <%= button_to "Delete", group_path(group.id), class:"rounded-lg p-2 bg-gray-100 inline-block text-xs button-hover", method: :delete %>
  </div>
</div>
