<%= form_with(model: @group, class: "contents") do |form| %>
  <section
    id="new-group"
    class="w-full min-h-screen bg-DesignWhite items-center flex flex-col"
  >
    <header class="header-mob mb-4">
      <%= link_to groups_path do %>
        <i class="fa fa-arrow-left w-9 link-hover"></i>
      <% end %>
      <h1 class='font-ProximaBold font-medium'>NEW CATEGORY</h1>
      <div class="actions">
        <%= form.submit "Create", class:'font-ProximaLight link-hover' %>
      </div>
    </header>
    <% if @group.errors.any? %>
      <% @group.errors.full_messages.each do |message| %>
        <h3 class="text-red-500"><%= message %>
        </h3>
      <% end %>
    <% end %>
    <p class="text-green-500"><%= notice %></p>
    <p class="text-red-500"><%= alert %></p>
    <div class="w-full flex flex-col ">
      <div class="field">
        <%= form.text_field :name, autofocus: true, autocomplete: "", placeholder: "Name", class:"placeholder:text-slate-400 w-full border-gray-100 " %>
      </div>

      <div class="field p-3 bg-white items-center space-x-3">
        <%= form.label :icon, class:"text-slate-400" %>
        <%= form.file_field :icon, accept:"image/png, image/gif, image/jpeg, image/svg, image/jpg", class: "flex items-center shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-ProximaLight" %>
      </div>
    </div>
  </section>
<% end %>
